@{
    ViewData["Title"] = "Home Page";
    // return View(await _context.Categories.Include(c => c.Products).ToListAsync());
    
    

}
<h1 class="display-2 text-black-50 text-center m-5">ASP.NET Core MVC E-Commerce Application</h1>
<form asp-action="Index" method="get">
    <div class="input-group mb-5">
        <input type="text" name="search" class="form-control" placeholder="Search products ... " value="@ViewBag.Search" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<div class="row">
    @foreach (var category in Model)
    {
        if (category.Products.Count == 0)
        {
            continue;
        }
        <div class="col-md-12 mb-4">
            <h2 class="text-primary border-bottom pb-2">@category.Name</h2>
            <p class="text-muted">@category.Description</p>
            <div class="row">
                @foreach (var product in category.Products)
                {
                    <div class="col-md-4 col-lg-3 mb-4">
                        <div class="card h-100 shadow-sm">
                            @foreach (var image in product.Images)
                            {
                                @if (!image.IsMain)
                                {
                                    continue;
                                }

                                <img src="@image.Url" class="card-img-top" alt="@product.Name"/>
                                break;
                            }
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title text-truncate">@product.Name</h5>
                                <p class="card-text text-truncate">@product.Description</p>
                                <p class="card-text fw-bold text-success">Rp. @product.Price.ToString("N0")</p>
                                <p class="card-text"><small class="text-muted">Brand: @product.Brand</small></p>
                                <div class="d-flex justify-content-between align-items-center mt-auto">
                                    <span class="btn-sm btn-outline-warning text-black">⭐ @product.Rating</span>
                                    <div>
                                        <a asp-controller="Product" asp-action="Details" asp-route-slug="@product.Slug" class="btn btn-sm btn-primary me-2">Details</a>
                                        <a asp-controller="CartList" asp-action="Create" asp-route-productId="@product.Id" class="btn btn-sm btn-dark" title="Add to Cart">
                                            +
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>



         